spring:
  application:
    name: gamasonic

  datasource:
    url: jdbc:h2:mem:gamasonicdb;DB_CLOSE_DELAY=-1;MODE=PostgreSQL
    driver-class-name: org.h2.Driver
    username: sa
    password: ""

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.H2Dialect

  h2:
    console:
      enabled: true
      path: /h2-console

  # Excluir seguridad ya que tenemos la dependencia comentada
  autoconfigure:
    exclude: org.springframework.boot.autoconfigure.security.servlet.SecurityAutoConfiguration

server:
  port: 8080

logging:
  level:
    root: INFO
    com.deposito.gamasonic: DEBUG
    org.hibernate.SQL: DEBUG