spring:
  application:
    name: gamasonic

  datasource:
    url: jdbc:h2:mem:gamasonicdb;DB_CLOSE_DELAY=-1;MODE=PostgreSQL
    driver-class-name: org.h2.Driver
    username: sa
    password: ""

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
      #  dialect: org.hibernate.dialect.H2Dialect

  h2:
    console:
      enabled: true
      path: /h2-console



server:
  port: 8095

logging:
      level:
        root: WARN  # Cambiado de INFO a WARN para menos ruido
        com.deposito.gamasonic: INFO
        org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerMapping: INFO
        org.hibernate.SQL: WARN

